.counter {
  /* TODO */
  width: 80px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 253, 253);
}
.counter > button {
  background-color: #8197e8;
  border: none;
  font-size: 19px;
  width: 30px;
  border-radius: 5px;
  color: white;
}
.counter > span {
  margin-top: 5px;
}