.addTask {
background-color: white;
}
.addTask > input {
  width: 90%;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  border: none;
}
.addTask > button {
  width: 10%;
  background-color: white;
  color: #0e5cad;
  border: 0px;
  font-size: 33px;
  margin-top: 5px;
}
